{extend name="tpl:base" /}
{block name="body"}
<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{:lang('product_detail')}</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <!-- Product Image & Available Colors -->
            <div class="col-sm-6">
                <div class="product-image-large">
                    <img src="{$info.product_pic}" alt="Item Name">
                </div>
                <!--<div class="colors">
                    <span class="color-white"></span>
                    <span class="color-black"></span>
                    <span class="color-blue"></span>
                    <span class="color-orange"></span>
                    <span class="color-green"></span>
                </div>-->
            </div>
            <!-- End Product Image & Available Colors -->
            <!-- Product Summary & Options -->
            <div class="col-sm-6 product-details">
                <h3>{$info[get_l()."title"]}</h3>
                <div>
                    <b>CAS NO:</b> {$info["casno"]}
                </div>
                <h5>{:lang('quick_view')}</h5>
                <p>
                    Morbi eleifend congue elit nec sagittis. Praesent aliquam lobortis tellus, nec consequat massa ornare vitae. Ut fermentum justo vel venenatis eleifend. Fusce id magna eros.
                </p>
                <table class="shop-item-selections">
                    <!-- Color Selector -->
                    <tr>
                        <td><b>{:lang('structural_formula')}</b></td>
                        <td>
                            <div>
                                <img src="{$info.sf_pic}"/>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
            <!-- End Product Summary & Options -->

            <!-- Full Description & Specification -->
            <div class="col-sm-12">
                <div class="tabbable">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs product-details-nav">
                        <li class="active"><a href="#tab1" data-toggle="tab">{:lang('product_intro')}</a></li>
                        <!--<li><a href="#tab2" data-toggle="tab">Specification</a></li>-->
                    </ul>
                    <!-- Tab Content (Full Description) -->
                    <div class="tab-content product-detail-info">
                        <!-- Tab Content (Specification) -->
                        <h4><b>{:lang('specification')}</b></h4>
                        <div class="tab-pane active" id="tab2">
                            <table>
                                {volist name="info.spec" id="vo"}
                                <tr>
                                    {volist name="vo" id="vvo"}
                                    <td>{$vvo}</td>
                                    {/volist}

                                </tr>
                                {/volist}
                            </table>
                        </div>
                        <br/>
                        <div class="tab-pane active" id="tab1">
                            <h4>{:lang('product_description')}</h4>
                            <p>
                                {$info[get_l()."desc"]}
                            </p>
                            {$info[get_l()."other"]}
                            <p>
                                Donec hendrerit massa metus, a ultrices elit iaculis eu. Pellentesque ullamcorper augue lacus. Phasellus et est quis diam iaculis fringilla id nec sapien. Sed tempor ornare felis, non vulputate dolor. Etiam ornare diam vitae ligula malesuada tempor. Vestibulum nec odio vel libero ullamcorper euismod et in sapien. Suspendisse potenti.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Full Description & Specification -->
        </div>
    </div>
</div>

{/block}