{extend name="tpl:base" /}
{block name="body"}
<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{:lang('product_list')}</h1>
            </div>
        </div>
    </div>
</div>

<div class="eshop-section section">
    <div class="container">
        <h2>
            {empty name="cid"}
                {:lang('all_products')}
            {else/}
            {:lang('product_category')} : {$cateinfo[get_l()."title"]}
            {/empty}
        </h2>
        <div>
        <div class="row text-right">
            <nav aria-label="...">
                <ul class="pagination">
                    {volist name="menu" id="product_menu"}
                    {eq name="product_menu.id" value="$cid"}
                    <li class="active"><a href="{:url('index/products/index',['cid'=>$product_menu.id])}">{$product_menu[get_l().'title']}<span class="sr-only">(current)</span></a></li>
                    {else /}
                    <li><a href="{:url('index/products/index',['cid'=>$product_menu.id])}">{$product_menu[get_l().'title']}<span class="sr-only">(current)</span></a></li>
                    {/eq}
                    {/volist}
                </ul>
            </nav>
        </div>
        </div>
        <div class="row">
            {volist name="lists" id="list"}
            <div class="col-sm-4">
                <div class="shop-item">
                    <div class="image">
                        <a href="{:url('index/products/detail',['id'=>$list.id])}"><img src="{$list.product_pic}" alt="Item Name"></a>
                    </div>
                    <div class="title">
                        <h3><a href="{:url('index/products/detail',['id'=>$list.id])}">{$list[get_l()."title"]}</a></h3>
                    </div>
                    <div class="price">
                        CAS.NO:{$list.casno}
                    </div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio.</p>
                    </div>
                    <div class="actions">
                        <a href="{:url('index/products/detail',['id'=>$list.id])}" class="btn"><i class="icon-shopping-cart icon-white"></i> {:lang('read_more')}</a></span>
                    </div>
                </div>
            </div>
            {/volist}
        </div>

        <div class="pagination-wrapper ">
            {$lists->render()}
        </div>
    </div>
</div>

{/block}