{extend name="tpl:base" /}
{block name="body"}
<!-- Homepage Slider -->
<div class="homepage-slider">
    <div id="sequence">
        <ul class="sequence-canvas">
            {volist name="slide" id="vo"}
            <!-- Slide 1 -->
            <li class="bg4">
                <!-- Slide Title -->
                <h2 class="title">{$vo[get_l()."title"]}</h2>
                <!-- Slide Text -->
                <h3 class="subtitle">{$vo[get_l()."subtitle"]}</h3>
                <!-- Slide Image -->
                <img class="slide-img" src="{$vo.content_img}" alt="Slide 1" />
            </li>
            <!-- End Slide 1 -->
            {/volist}
        </ul>
        <div class="sequence-pagination-wrapper">
            <ul class="sequence-pagination">
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Homepage Slider -->
<!-- Press Coverage -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="in-press">
                    <a href="#">{:lang("focus")}</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="in-press">
                    <a href="#">{:lang("concentrate")}</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="in-press">
                    <a href="#">{:lang("specialized")}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services -->
<div class="section">
    <div class="container">
        <h2>{:lang("product_category")}</h2>
        <div class="row">
            {volist name="categories" id="category"}
            <div class="col-md-3 col-sm-6">
                <div class="service-wrapper">
                    <img src="__STATIC__/home/img/service-icon/diamond.png" alt="Service 1">
                    <h3>{$category[get_l()."title"]}</h3>
                    <p>{$category[get_l()."desc"]|subtext=100}</p>
                    <a href="" class="btn">{:lang("read_more")}</a>
                </div>
            </div>
            {/volist}
        </div>
    </div>
</div>
<!-- End Services -->

<!-- Call to Action Bar -->
<div class="section section-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="calltoaction-wrapper">
                    <h3>{:lang('welcome_consult')}</h3> <a href="{:url('index/contact/index')}" class="btn btn-orange">{:lang('Contact')}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Call to Action Bar -->

<div class="section">
    <div class="container">
        <h2>{:lang("products")}</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="products-slider">
                    <!-- Products Slider Item -->
                    {volist name="products" id="product"}
                    <div class="shop-item">
                        <!-- Product Image -->
                        <div class="image">
                            <a href="page-product-details.html"><img src="{$product.product_pic}" alt="Item Name"></a>
                        </div>
                        <!-- Product Title -->
                        <div class="title">
                            <h3><a href="page-product-details.html">{$product[get_l()."title"]}</a></h3>
                        </div>
                        <!-- Product Price -->
                        <div class="price">
                            {$product.cid|get_category_name}
                        </div>
                        <div class="price">
                            {$product.casno}
                        </div>
                        <!-- Buy Button -->
                        <div class="actions">
                            <a href="{:url('index/products/detail',['id'=>$product.id])}" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i>{:lang('read_more')}</a>
                        </div>
                    </div>
                    {/volist}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="row">
            <!-- Featured News -->
            <div class="col-sm-6 featured-news">
                <h2>{:lang('featured_news')}</h2>
                {volist name="topevents" id="vo"}
                <div class="row">
                    <!--<div class="col-xs-4"><a href="page-blog-post-right-sidebar.html"><img src="__STATIC__/home/img/news1.jpg" alt="Post Title"></a></div>-->
                    <div class="col-xs-12">
                        <div class="caption"><a href="page-blog-post-right-sidebar.html">{$vo[get_l()."title"]}</a></div>
                        <div class="date">{$vo.update_time|date="Y-m-d H:i:s",###}</div>
                        <div class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. <a href="page-blog-post-right-sidebar.html">{:lang("read_more")}...</a></div>
                    </div>
                </div>
                {/volist}
            </div>
            <!-- End Featured News -->
            <!-- Latest News -->
            <div class="col-sm-6 latest-news">
                <h2>{:lang('latest_news')}</h2>
                {volist name="latest" id="l"}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="caption"><a href="page-blog-post-right-sidebar.html">{$l[get_l()."title"]}</a></div>
                        <div class="date">{$l.update_time|date="Y-m-d H:i:s",###}</div>
                        <div class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. <a href="page-blog-post-right-sidebar.html">{:lang("read_more")}...</a></div>
                    </div>
                </div>
                {/volist}
            </div>
            <!-- End Featured News -->
        </div>
    </div>
</div>

<!-- Our Clients -->
<div class="section">
    <div class="container">
        <h2>{:lang('our_clients')}</h2>
        <div class="clients-logo-wrapper text-center row">
            {volist name="clients" id="client"}
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="{$client.icon}" alt="{$client[get_l().'name']}"></a></div>
            {/volist}
        </div>
    </div>
</div>
<!-- End Our Clients -->
{/block}