{extend name="tpl:base" /}
{block name="body"}
<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Events</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="events-list">
                    {volist name="lists" id="list"}
                    <tr>
                        <td>
                            <div class="event-date">
                                <div class="event-day">{$list.create_time|date="d",###}</div>
                                <div class="event-month">MAR</div>
                                <div class="event-month">{$list.create_time|date="Y",###}</div>
                            </div>
                        </td>
                        <td>
                            <a href="{:url('index/events/detail',['id'=>$list.id])}">{$list[get_l()."title"]}</a>
                        </td>
                        <td>{$list.create_time|date="H:i:s",###}</td>
                        <td><a href="{:url('index/events/detail',['id'=>$list.id])}" class="btn btn-grey btn-sm event-more">{:lang('read_more')}</a></td>
                    </tr>
                    {/volist}
                </table>
            </div>
            <div class="pagination-wrapper ">
                {$lists->render()}
            </div>
        </div>

    </div>
</div>

{/block}