<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{$meta_title|default='Richkem'}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="__STATIC__/home/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/home/css/icomoon-social.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="__STATIC__/home/css/leaflet.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="__STATIC__/home/css/leaflet.ie.css" />
    <![endif]-->
    <link rel="stylesheet" href="__STATIC__/home/css/main.css">
    <!--<link rel="stylesheet" href="__STATIC__/home/css/main-green.css">-->
    <!--<link rel="stylesheet" href="__STATIC__/home/css/main-grey.css">-->
    <!--<link rel="stylesheet" href="__STATIC__/home/css/main-orange.css">-->
    <!--<link rel="stylesheet" href="__STATIC__/home/css/main-red.css">-->
    {block name="sytle"}{/block}
    <script src="__STATIC__/home/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<!-- Navigation & Logo-->
<div class="mainmenu-wrapper">
    <div class="container">
        <div class="menuextras">
            <div class="extras">
                <!--<div style="float:left;">青岛丽凯化工有限公司</div>-->
                <div style="float:left;"><img class="company_name_pic" src="__STATIC__/home/img/richkem_name_cn.png" /></div>
                <ul>
                    <li>
                        <div class="dropdown choose-country">
                            {eq name="lang_code" value="cn_"}
                            <a class="#" data-toggle="dropdown" href="#"><img src="__STATIC__/home/img/flags/cn.png" alt="Great Britain"> CN</a>
                            {else/}
                            <a class="#" data-toggle="dropdown" href="#"><img src="__STATIC__/home/img/flags/us.png" alt="Great Britain"> EN</a>
                            {/eq}
                            <ul class="dropdown-menu" role="menu">
                                {eq name="lang_code" value="cn_"}
                                <li role="menuitem"><a href="?lang=en-us"><img src="__STATIC__/home/img/flags/us.png" alt="United States"> EN</a></li>
                                {else/}
                                <li role="menuitem"><a href="?lang=zh-cn"><img src="__STATIC__/home/img/flags/cn.png" alt="China"> CN</a></li>
                                {/eq}
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <nav id="mainmenu" class="mainmenu">
            <ul>
                <li class="logo-wrapper"><a href="{:url('index/index/index')}"><img class="logo" src="__STATIC__/home/img/richkem_log_nobg.png" alt="Multipurpose Twitter Bootstrap Template"></a></li>
                <li class="active">
                    <a href="{:url('index/index/index')}">{:lang('Home')}</a>
                </li>
                <li>
                    <a href="{:url('index/about/index')}">{:lang('About')}</a>
                </li>
                <li class="has-submenu">
                    <a href="{:url('index/products/index')}">{:lang('Product')}</a>
                    <div class="mainmenu-submenu">
                        <div class="mainmenu-submenu-inner">
                            {volist name="menu" id="menu_cate"}
                            <div>
                                <a href="{:url('index/products/index',['cid'=>$menu_cate.id])}"><h4>{$menu_cate[get_l()."title"]}</h4></a>
                                <ul>
                                    {volist name="menu_cate.products" id="vo"}
                                    <li>
                                        <a href="{:url('index/products/detail',['id'=>$vo.id])}">
                                            <div>{$vo[get_l()."title"]}</div>
                                            <div>{$vo["casno"]}</div>
                                        </a>
                                    </li>
                                    {/volist}
                                </ul>
                            </div>
                            {/volist}
                        </div><!-- /mainmenu-submenu-inner -->
                    </div><!-- /mainmenu-submenu -->
                </li>
                <li>
                    <a href="{:url('index/events/index')}">{:lang('Events')}</a>
                </li>
                <li>
                    <a href="{:url('index/contact/index')}">{:lang('Contact')}</a>
                </li>
                <li style="vertical-align: middle;">
                    <form style="width:249px;" action="{:url('index/search/index')}">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{:lang('Search')}...">
                            <span class="input-group-btn">
								  <button class="btn btn-default" type="submit">Go!</button>
							</span>
                        </div>
                    </form>
                </li>
            </ul>

        </nav>
    </div>
</div>
{block name="body"}
{/block}


<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-footer col-md-3 col-xs-6">
                <h3>{:lang('navigate')}</h3>
                <ul class="no-list-style footer-navigate-section">
                    <li><a href="{:url('index/index/index')}">{:lang('Home')}</a></li>
                    <li><a href="{:url('index/about/index')}">{:lang('About')}</a></li>
                    <li><a href="{:url('index/products/index')}">{:lang('Product')}</a></li>
                    <li><a href="{:url('index/events/index')}">{:lang('Events')}</a></li>
                    <li><a href="{:url('index/contact/index')}">{:lang('Contact')}</a></li>
                </ul>
            </div>
            <div class="col-footer col-md-3 col-xs-6">
                <h3>{:lang('product_category')}</h3>
                <ul class="no-list-style footer-navigate-section">
                    {volist name="menu" id="nav_cate"}
                    <li><a href="{'index/products/index',['cid'=>$nav_cate.id]}">{$nav_cate[get_l()."title"]}</a></li>
                    {/volist}
                </ul>
            </div>


            <div class="col-footer col-md-3 col-xs-6">
                <h3>{:lang('latest_news')}</h3>
                <ul class="no-list-style footer-navigate-section">
                    <li><a href="{:url('index/index/index')}">Home</a></li>
                    <li><a href="{:url('index/about/index')}">About Us</a></li>
                    <li><a href="{:url('index/products/index')}">Products</a></li>
                    <li><a href="{:url('index/events/index')}">Events</a></li>
                    <li><a href="{:url('index/contact/index')}">Contact Us</a></li>
                </ul>
            </div>

            <div class="col-footer col-md-3 col-xs-6">
                <h3>{:lang('Contact')}</h3>
                <b>{:lang('addr')}:</b> {$contacts[get_l()."company_addr"]}<br/>
                <b>{:lang('phone')}:</b>{$contacts.phone}<br/>
                <b>{:lang('fax')}:</b> {$contacts.fax}<br/>
                <b>{:lang('email')}:</b> <a href="mailto:getintoutch@yourcompanydomain.com">{$contacts.email}</a><br/>
                <b>{:lang('website')}:</b> <a href="mailto:getintoutch@yourcompanydomain.com">{$contacts.website}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="footer-copyright">
                    <div>
                    copyright © 2012 Qingdao RichkemCo.,Ltd.All rights reserved
                    </div>
                    <div>鲁ICP备12012892号-1</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Javascripts -->
<script src="__STATIC__/home/js/jquery-1.9.1.min.js"></script>
<script src="__STATIC__/home/js/bootstrap.min.js"></script>
<script src="__STATIC__/home/js/leaflet.js"></script>
<script src="__STATIC__/home/js/jquery.fitvids.js"></script>
<script src="__STATIC__/home/js/jquery.sequence-min.js"></script>
<script src="__STATIC__/home/js/jquery.bxslider.js"></script>
<script src="__STATIC__/home/js/main-menu.js"></script>
<script src="__STATIC__/home/js/template.js"></script>
{block name="js"}{/block}

</body>
</html>