{extend name="admin:base" /}
{block name="style"}
{/block}
{block name="body"}
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">编辑新闻</h1>
                <h1 class="page-subhead-line"> </h1>
            </div>
        </div>
        <!--/.ROW-->
        <div class="row">
            <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        编号：1
                    </div>
                    <div class="panel-body">
                        <form role="form" action="{:url('admin/events/update')}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" value="{$info.id}"/>
                            <div class="form-group">
                                <label class="control-label">标题（中文）</label>
                                <input type="text" class="form-control" name="cn_title" value="{$info.cn_title}"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">标题（英文）</label>
                                <input type="text" class="form-control" name="en_title" value="{$info.en_title}"/>
                            </div>
                            <div class="form-group">
                                <label>内容（中文）</label>
                                <!--<textarea class="form-control" id="editor_cn" rows="3"></textarea>-->
                                <script id="editor_cn" type="text/plain" style="width:100%;height:500px;" name="cn_content">{$info.cn_content}</script>
                            </div>
                            <div class="form-group">
                                <label>内容（英文）</label>
                                <script id="editor_en" type="text/plain" style="width:100%;height:500px;" name="cn_content">{$info.en_content}</script>
                            </div>
                            <div class="form-group">
                                <label>是否置顶</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">是
                                    </label>
                                    <label>
                                        <input type="checkbox" value="">否
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">排序编号</label>
                                <input type="text" class="form-control" name="sort" />
                            </div>
                            <button type="submit" class="btn btn-info">保存</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
{/block}
{block name="js"}
<script type="text/javascript" charset="utf-8" src="__STATIC__/admin/assets/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__STATIC__/admin/assets/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript">

    $(function(){
        UE.getEditor('editor_cn',{
            autoHeightEnabled: true,
            autoFloatEnabled: false,
            initialFrameHeight:483
        });
        UE.getEditor('editor_en',{
            autoHeightEnabled: true,
            autoFloatEnabled: false,
            initialFrameHeight:483
        });
    })

</script>
{/block}