{extend name="tpl:base" /}
{block name="body"}
<div class="coming-soon-content">
    <h3><b>Thanks for contact !<br/>Hoping you have brisk business !</b></h3>

    <div class="coming-soon-subscribe container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" placeholder="Please enter your email">
                    <span class="input-group-btn">
                                <button class="btn btn-lg" type="button">Subscribe</button>
                            </span>
                </div>
                <p>Subscribe to be one of the first to know when we are live!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
                <div class="coming-soon-social">
                    <a href="#" data-toggle="tooltip" data-original-title="Join Us!" data-placement="top" class="show-tooltip"><i class="icon-facebook"></i></a>
                    <a href="#" data-toggle="tooltip" data-original-title="Join Us!" data-placement="top" class="show-tooltip"><i class="icon-github"></i></a>
                    <a href="#" data-toggle="tooltip" data-original-title="Join Us!" data-placement="top" class="show-tooltip"><i class="icon-tumblr"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}