{extend name="tpl:base" /}
{block name="body"}
<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>{:lang('Contact')}</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <!-- Map -->
                <div>
                    <img class="img-responsive img-rounded table-bordered" id="contact-us-map1" src="__STATIC__/home/img/contactus.png"/>
                </div>
                <!-- End Map -->
                <!-- Contact Info -->
                <p class="contact-us-details">
                    <b>{:lang('addr')}:</b> {$contacts[get_l()."company_addr"]}<br/>
                    <b>{:lang('phone')}:</b> {$contacts.phone}<br/>
                    <b>{:lang('fax')}:</b> {$contacts.fax}<br/>
                    <b>{:lang('email')}:</b> <a href="mailto:richkem@richkem.com">{$contacts.email}</a><br/>
                    <b>{:lang('website')}:</b> <a href="http://www.richkem.com">{$contacts.website}</a>
                </p>
                <!-- End Contact Info -->
            </div>
            <div class="col-sm-5">
                <!-- Contact Form -->
                <h3>{:lang('send_us_msg')}</h3>
                <div class="contact-form-wrapper">
                    <form class="form-horizontal" role="form" action="{:url('index/contact/msg')}">
                        <div class="form-group">
                            <label for="Name" class="col-sm-3 control-label"><b>{:lang('your_name')}</b></label>
                            <div class="col-sm-9">
                                <input class="form-control" id="name" name="name" type="text" placeholder="" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-3 control-label"><b>{:lang('your_email')}</b></label>
                            <div class="col-sm-9">
                                <input class="form-control" id="email" name="email" type="text" placeholder="" required>
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <label for="contact-message" class="col-sm-3 control-label"><b>Select Topic</b></label>
                            <div class="col-sm-9">
                                <select class="form-control" id="prependedInput">
                                    <option>Please select topic...</option>
                                    <option>General</option>
                                    <option>Services</option>
                                    <option>Orders</option>
                                </select>
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label for="content" class="col-sm-3 control-label"><b>{:lang('message')}</b></label>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="15" id="content" name="content"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn pull-right">{:lang('send')}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End Contact Info -->
            </div>
        </div>
    </div>
</div>
{/block}