{extend name="admin:base" /}
{block name="style"}
<link href="__STATIC__/admin/assets/css/bootstrap-fileupload.min.css" rel="stylesheet" />
<link href="__STATIC__/admin/assets/fileinput/css/fileinput.min.css" rel="stylesheet" />
{/block}
{block name="body"}
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">编辑公司信息</h1>
                <h1 class="page-subhead-line"> </h1>
            </div>
        </div>
        <!--/.ROW-->
        <div class="row">
            <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        编号：1
                    </div>
                    <div class="panel-body">
                        <form role="form" action="{:url('admin/about/updateinfo')}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" value="{$info.id}"/>
                            <div class="form-group">
                                <label class="control-label">Logo</label>
                                <input id="kv-explorer" type="file">
                                <input type="hidden" name="logo" value="{$info.logo}"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">公司名称（中文）</label>
                                <input type="text" class="form-control" name="cn_company_name" value="{$info.cn_company_name}"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">公司名称（英文）</label>
                                <input type="text" class="form-control" name="en_company_name" value="{$info.en_company_name}"/>
                            </div>
                            <div class="form-group">
                                <label>公司简介（中文）</label>
                                <textarea class="form-control" rows="10" name="cn_company_desc">{$info.cn_company_desc}</textarea>
                            </div>
                            <div class="form-group">
                                <label>公司简介（英文）</label>
                                <textarea class="form-control" rows="10" name="en_company_desc">{$info.en_company_desc}</textarea>
                            </div>
                            <div class="form-group">
                                <label>业务描述（中文）</label>
                                <textarea class="form-control" rows="10" name="cn_service_desc">{$info.cn_service_desc}</textarea>
                            </div>
                            <div class="form-group">
                                <label>业务描述（英文）</label>
                                <textarea class="form-control" rows="10" name="en_service_desc">{$info.en_service_desc}</textarea>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-info">保存</button>
                                <a class="btn btn-warning" href="{:url('admin/about/clients')}">取消</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
{/block}
{block name="js"}
<script src="__STATIC__/admin/assets/fileinput/js/fileinput.js"></script>
<script type="text/javascript">
    $(function(){
        $("#kv-explorer").fileinput({
            'theme': 'explorer',
            'uploadUrl': "{:url('admin/index/uploadimg')}",
            overwriteInitial: true,
            initialPreviewAsData: true,
            initialPreview: ["{$info.logo}"],
            initialPreviewConfig: []
        }).on("fileuploaded", function(event, data, previewId, index) {

            if(data.response.status===true){
                $("input[name=logo]").val(data.response.fileInfo);
            }else{
                alert("文件上传失败");
            }
        });

    })
</script>
{/block}