{extend name="admin:base" /}
{block name="style"}
<!-- PAGE LEVEL STYLES -->
<link href="__STATIC__/admin/assets/css/prettyPhoto.css" rel="stylesheet" />
{/block}
{block name="body"}
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">公司荣誉</h1>
                <h1 class="page-subhead-line"> </h1>

            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <p>
                    <a class="btn btn-primary" href="{:url('admin/about/edithonor')}"><i class="glyphicon glyphicon-search"></i>新增</a>
                </p>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <!--   Kitchen Sink -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Kitchen Sink
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="text-center">排序</th>
                                    <th class="text-center">图片</th>
                                    <th class="text-center">中文名称</th>
                                    <th class="text-center">英文名称</th>
                                    <th class="text-center">操作</th>

                                </tr>
                                </thead>
                                <tbody class="text-center">

                                {volist name="lists" id="list"}
                                <tr>
                                    <td style="vertical-align:middle;">1</td>
                                    <td style="vertical-align:middle;">
                                        <div class="col-md-4 col-md-offset-4">
                                            <div class="portfolio-item awesome mix_all" data-cat="awesome" >
                                                <a class="preview" title="Image Title Here" href="{$list.img}">
                                                    <img src="{$list.img}" class="img-responsive " alt="" />
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="vertical-align:middle;">{$list.cn_title}</td>
                                    <td style="vertical-align:middle;">{$list.en_title}</td>
                                    <td style="vertical-align:middle;">
                                        <a class="btn btn-primary btn-xs" href="{:url('admin/about/edithonor',['id'=>$list.id])}"><i class="glyphicon glyphicon-search"></i>编辑</a>
                                        <a class="btn btn-danger btn-xs confirm" href="{:url('admin/about/delhonor',['id'=>$list.id])}"><i class="glyphicon glyphicon-home"></i>删除</a>
                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- End  Kitchen Sink -->
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <!--<ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>-->
                {$lists->render();}
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
{/block}
{block name="js"}
<script src="__STATIC__/admin/assets/js/jquery.mixitup.min.js"></script>
<script src="__STATIC__/admin/assets/js/jquery.prettyPhoto.js"></script>
<script src="__STATIC__/admin/assets/js/galleryCustom.js"></script>
{/block}