{extend name="admin:base"}
{block name="body"}
{extend name="admin:base" /}
{block name="body"}
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">公司基本信息管理</h1>
                <h1 class="page-subhead-line"> </h1>

            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <p>
                    <a class="btn btn-primary" href="{:url('admin/about/editinfo',['id'=>$info.id])}"><i class="glyphicon glyphicon-search"></i>编辑</a>
                </p>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <!--   Kitchen Sink -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        公司基本信息
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="text-center">项目</th>
                                    <th class="text-center">内容</th>

                                </tr>
                                </thead>
                                <tbody class="text-center">
                                <tr>
                                    <td style="vertical-align:middle;">公司LOGO</td>
                                    <td style="vertical-align:middle;">
                                        <img src="{$info.logo}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:middle;">公司名称（中文）</td>
                                    <td style="vertical-align:middle;">{$info.cn_company_name}</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:middle;">公司名称（英文）</td>
                                    <td style="vertical-align:middle;">{$info.en_company_name}</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:middle;">公司简介（中文）</td>
                                    <td style="vertical-align:middle;">{$info.cn_company_desc}</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:middle;">公司简介（英文）</td>
                                    <td style="vertical-align:middle;">{$info.en_company_desc}</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:middle;">业务描述（中文）</td>
                                    <td style="vertical-align:middle;">{$info.cn_service_desc}</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:middle;">业务描述（英文）</td>
                                    <td style="vertical-align:middle;">{$info.en_service_desc}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- End  Kitchen Sink -->
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
{/block}