{extend name="admin:base" /}
{block name="style"}
<link href="__STATIC__/admin/assets/css/bootstrap-fileupload.min.css" rel="stylesheet" />
<link href="__STATIC__/admin/assets/fileinput/css/fileinput.min.css" rel="stylesheet" />
{/block}
{block name="body"}
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">编辑产品信息</h1>
                <h1 class="page-subhead-line"> </h1>
            </div>
        </div>
        <!--/.ROW-->
        <div class="row">
            <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {notempty name="info.id"}
                        编号：{$info.id}
                        {else/}
                        填写分类信息
                        {/notempty}
                    </div>
                    <div class="panel-body">
                        <form role="form" action="{:url('admin/products/update')}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" value="{$info.id|default=0}"/>
                            <div class="form-group">
                                <label>是否置顶</label>
                                <select class="form-control" name="cid">
                                    {volist name="cate_list" id="list"}
                                    {eq name="list.id" value="$info.cid"}
                                    <option value="{$list.id}" selected>{$list.cn_title}</option>
                                    {else/}
                                    <option value="{$list.id}">{$list.cn_title}</option>
                                    {/eq}
                                    {/volist}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">产品图片</label>
                                <input id="kv-explorer" type="file">
                                <input id="product_pic" type="hidden" name="product_pic" value="{$info.product_pic|default=''}"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">名称（中文）</label>
                                <input type="text" class="form-control" name="cn_title" value="{$info.cn_title|default=''}"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">名称（英文）</label>
                                <input type="text" class="form-control" name="en_title" value="{$info.en_title|default=''}"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">CAS NO</label>
                                <input type="text" class="form-control" name="casno" value="{$info.casno|default=''}"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">结构式</label>
                                <input id="product-spec" type="file">
                                <input id="sf_pic" type="hidden" name="sf_pic" value="{$info.sf_pc|default=''}"/>
                            </div>
                            <div class="form-group">
                                <label>产品描述（中文）</label>
                                <textarea class="form-control" name="cn_desc" rows="5">{$info.cn_desc|default=''}</textarea>
                            </div>
                            <div class="form-group">
                                <label>产品描述（英文）</label>
                                <textarea class="form-control" name="en_desc" rows="5">{$info.en_desc|default=''}</textarea>
                            </div>
                            <div class="form-group">
                                <label>产品参数（中文）</label>
                                <textarea class="form-control" name="cn_spec" rows="5">{$info.cn_spec|default=''}</textarea>
                            </div>
                            <div class="form-group">
                                <label>产品参数（英文）</label>
                                <textarea class="form-control" name="en_spec" rows="5">{$info.en_spec|default=''}</textarea>
                            </div>
                            <!--<div class="form-group">
                                <label>其它描述</label>
                                <script id="editor_en" type="text/plain" style="width:100%;height:500px;" name="cn_other">{$info.cn_other|default=''}</script>
                            </div>
                            <div class="form-group">
                                <label>其它描述</label>
                                <script id="editor_en" type="text/plain" style="width:100%;height:500px;" name="en_other">{$info.en_other|default=''}</script>
                            </div>-->
                            <div class="form-group">
                                <label>是否置顶</label>
                                <select class="form-control" name="istop">
                                    {eq name="info.istop" value="2"}
                                    <option value="1">否</option>
                                    <option value="2" selected>是</option>
                                    {else /}
                                    <option value="1" selected>否</option>
                                    <option value="2">是</option>
                                    {/eq}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">排序编号</label>
                                <input type="text" class="form-control" name="top_sort" value="{$info.top_sort|default=999}"/>
                            </div>
                            <button type="submit" class="btn btn-info">保存</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
{/block}
{block name="js"}
<script src="__STATIC__/admin/assets/fileinput/js/fileinput.js"></script>
<script type="text/javascript">
    $(function(){
        $("#kv-explorer").fileinput({
            'theme': 'explorer',
            'uploadUrl': "{:url('admin/index/uploadimg')}",
            overwriteInitial: true,
            initialPreviewAsData: true,
            initialPreview: ["{$info.product_pic|default='/static/home/img/product2.jpg'}"],
            initialPreviewConfig: []
        }).on("fileuploaded", function(event, data, previewId, index) {
            if(data.response.status===true){
                $("input[name=product_pic]").val(data.response.fileInfo);
            }else{
                alert("文件上传失败");
            }
        });

        $("#product-spec").fileinput({
            'theme': 'explorer',
            'uploadUrl': "{:url('admin/index/uploadimg')}",
            overwriteInitial: true,
            initialPreviewAsData: true,
            initialPreview: ["{$info.product_pic|default='/static/home/img/product2.jpg'}"],
            initialPreviewConfig: []
        }).on("fileuploaded", function(event, data, previewId, index) {
            if(data.response.status===true){
                $("input[name=sf_pic]").val(data.response.fileInfo);
            }else{
                alert("文件上传失败");
            }
        });;
    })
</script>
{/block}